<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aivello AI - Homepage</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header>
        <div class="top-bar">
            <h1>Aivello AI</h1>
            <a href="/login" class="login-btn">Log in</a>
        </div>
    </header>
    <main>
        <div class="intro">
            <h2>Hi, I'm Aivello.</h2>
            <p>Your AI researcher.</p>
            <a href="/dashboard" class="get-started-btn">
                <span>Get Started</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
            </a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Aivello AI. All Rights Reserved.</p>
    </footer>
</body>

</html>
