<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/login-register.css">
</head>
<body>
    <div class="auth-container">
        <div class="form-box">
            <h2>Sign in to your account</h2>
            <form action="/login" id='auth-form' method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" required>
                
                <label for="password">Password</label>
                <input type="password" name="password" required>
                <button type="submit" class="btn-primary">Login</button>
            </form>
            <p>Don't have an account? <a href="/register">Create account</a></p>
        </div>
    </div>
</body>
</html>
