<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/login-register.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="auth-container">
        <div class="form-box">
            <h2>Create your Aivello account</h2>
            <form action="/register" method="POST">
                <label for="name">Username</label>
                <input type="text" name="username" required>
                <label for="email">Email</label>
                <input type="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" name="password" required>
                <button type="submit" class="btn-primary">Create acoount</button>
            </form>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</body>
</html>
